* {
	margin: 0;
	padding: 0;
}

html, body {
	min-width: 1000px;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;
}

#mainContainer {
	min-height: 100%;
	margin: 0 auto -75px;
}


#header {
	height: 100px;
	color: #FFFFFF;
	background-color: #000000;
}

.clickable {
	cursor: pointer;
}

h1 {
	position: absolute;
	left: 15px;
	margin-top: 25.5px;
	margin-bottom: 25.5px;
	font-size: 40px;
}


#header ul{
	float: right;
	list-style-type: none;
}
	
#header li {
	float: left;
	padding: 10px;
	margin-top: 27.5px;
	margin-right: 5px;
	margin-bottom: 27.5px;
}

#header li p {
	font-size: 20px;
}

.active {
	color: #000000;
	background-color: #FFFFFF;
}

.panel {

}

#homePanel ul {
	text-align: center;
	list-style-type: none;
	font-size: 30px;
}

#homePanel li {
	margin: 20px;
	display: inline-block;
}

.pivot {
	color: red;
}
#stickyFooter {
	height: 75px;
}

#footer {
	width: 100%;
	height: 75px;
	background-color: #000000;
	position: relative;
}

nav {
	float: right;
	margin-top: 7.5px;
	margin-right: 5px;
	margin-bottom: 7.5px;
}	