* {
	margin: 0;
	padding: 0;
}
html, body {
	min-width: 570px;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;
}
a {
	color: blue;
}
#mainContainer {
	min-height: 100%;
	margin: 0 auto -75px;
	width: 100%;
}
#header {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	height: 100px;
	color: #FFFFFF;
	background-color: #000000;
}
.clickable {
	cursor: pointer;
}
h1 {
	position: absolute;
	left: 15px;
	margin-top: 25.5px;
	margin-bottom: 25.5px;
	font-size: 40px;
}
#header ul{
	float: right;
	list-style-type: none;
}	
#header li {
	float: left;
	padding: 10px;
	margin-top: 27.5px;
	margin-right: 5px;
	margin-bottom: 27.5px;
}
#header li p {
	font-size: 20px;
}
.active {
	color: #000000;
	background-color: #FFFFFF;
}
#stickyHeader {
	height: 100px;
	width: 100%;
}
.panel {
	clear:both;
	text-align: center;
}
#homePanel {
	margin-top: 40px;
    height: 100%;
}	
#homePanel ul {
	font-size: 30px;
}
#homePanel li {
	margin: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.pivot {
	color: red;
}
.evaluated {
	color: blue;
}
.solved {
	font-size: 75px;
}
.fillerBecauseCSSIsHard {
	color: #FFFFFF
}
.row.ng-enter,
.row.ng-move,
.row.ng-leave {
	-webkit-transition:all linear 1.5s;
	transition:all linear 1.5s;
}
.row.ng-leave.ng-leave-active,
.row.ng-move,
.row.ng-enter
 {
 	opacity:0;
 	max-height:0;
}
.row.ng-leave,
.row.ng-move.ng-move-active,
.row.ng-enter.ng-enter-active {
	opacity:1;
    max-height:100px;
}
.row.ng-enter-stagger,
.row.ng-leave-stagger {
 	-webkit-transition-delay:0.2s;
 	transition-delay:0.2s;
	-webkit-transition-duration:0s;
	transition-duration:0s;
}

#about {
	margin-top: 20px;
}
#about li {
	width: 26%;
	display: inline-block;
	margin-top: 10px;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 10px;
	vertical-align: middle;
}
.largeImage {
	border-style: inset;
	border-width: 7px;
}
#myPic {
	height: 100%;
	width: 100%;
	border-color: #CC0000;
	border-style: inset;
	border-width: 7px;
}
#about p {
	font-family: 'Slabo', sans-serif;
	text-align: left;
	margin-top: 3%;
	font-size: 1.5vw;
}
.project {
	min-height: 602px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: gray;
}
.project li {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	width: 526px;
	height: 526px;
	display: inline-block;
	vertical-align: top;
}
.project h2 {
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #D3D3D3;
}
.project p {
	font-family: 'Slabo', sans-serif;
	font-size: 20px;
	text-align: left;
}
.icons {
	margin-top: 20px;
	margin-left: 10px;
}
#quicksortImg {
	border-color: #0000FF;
	border-radius: 0px;
}
#sugarsnapIcon {
	border-color: #00CC00;
	border-radius: 70px;
	border-style: solid;
}
#youtubeImg {
	width: 400px;
	height: 400px;
	border-radius: 14px;
	border-color: #DDDDDD;
}
#extension li {
	margin-top: 83px;
	width: 400px;
}
#dessertImg {
	border-color: #CCCC00;
	border-radius: 0px;
}
#desserts {
	border-bottom-width: 0px;
}
#stickyFooter {
	height: 75px;
	color: #000000;
}
#footer {
	width: 100%;
	height: 75px;
	background-color: #000000;
	position: relative;
}
nav {
	float: right;
	margin-top: 7.5px;
	margin-right: 5px;
	margin-bottom: 7.5px;
}	
nav img {
	margin-left: 5px;
}
@media (max-width: 1500px) {
	#about li {
		width: 32%;
	}
	#about p {
		font-size: 1.9vw;
	}
}
@media (max-width: 1300px) {
	#about li {
		width: 38%;
	}
	#about p {
		font-size: 2.3vw;
	}
}
@media (max-width: 1100px) {
	#homePanel ul {
		font-size: 2.8vw;
	}
	.solved {
		font-size: 6vw;
	}
	#about li {
		display: inline;
	}
	#myPic {
		width: 50%;
		height: 50%;
	}
	#about p {
		margin: 10px;
		margin-top: 30px;
	}
}
@media (max-width: 750px) {
	#myPic {
		width: 60%;
		height: 60%;
	}
	#about p {
		margin: 10px;
		margin-top: 30px;
		font-size: 4.0vw;
	}
}
@media (max-width: 1440px) {
	.project {
		min-height: 450px;
	}
	.project li {
		margin-top: 10px;
  		margin-left: 23px;
  		margin-right: 23px;
  		width: 395px;
  		height: 395px;
	}
	.project h2 {
		font-size: 27px;
	}
	.project p {
		font-size: 18px;
	}
	.largeImage {
		width: 384px;
		height: 384px;
	}
	#extension h2 {
		font-size: 22px;
	}
	#extension p {
		font-size: 16px;
	}
	#extension li {
		margin-top: 20px;
		width: 300px;
		font-size: 15px;
	}
	#youtubeImg {
		margin-top: 10px;
		width: 300px;
		height: 300px;
	}
	.icons {
		width: 30px;
		height: 38px;
		margin-top: 15px;
		margin-left: 7px;
	}
	#jadeIcon { 
		width: 69px;
	}
}