<!DOCTYPE html>
<html ng-app='mySite'>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' type='text/css' href='css/normalize.css' />
		<link rel='stylesheet' type='text/css' href='css/style.css' />
		<script src="http://code.angularjs.org/1.2.6/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
		<script type='text/javascript' src='javascripts/mySite.js'></script>
	</head>

	<body ng-controller='PanelController as panelSwitcher'>
		<div id='mainContainer'>
			<div id='header'>
				<h1>Robert Benapfl</h1>		
				<ul>
					<li class='clickable' ng-class='{active:panelSwitcher.checkSelected(1)}'>
						<p ng-click='panelSwitcher.setPanel(1)'>Home</p>
					</li>
					<li class='clickable' ng-class='{active:panelSwitcher.checkSelected(2)}'>
						<p ng-click='panelSwitcher.setPanel(2)'>About</p>
					</li>
					<li class='clickable' ng-class='{active:panelSwitcher.checkSelected(3)}'>
						<p ng-click='panelSwitcher.setPanel(3)'>Projects</p>
					</li>
				</ul>
			</div>
			<div id='stickyHeader'></div>
			<div class='panel' id='homePanel' ng-show='panelSwitcher.checkSelected(1)' ng-controller='QuicksortController as quicksort'>
					<ul class='row' ng-repeat='message in quicksort.messages'>
						<li ng-repeat='letter in message'>
							<p class='{{letter.status}}'>{{letter.letter}}</p>
						</li>
					</ul>
			</div>
			<div class='panel' id='about' ng-show='panelSwitcher.checkSelected(2)'>
				<li>
					<img id='myPic' src='images/me.jpg'>
				</li>
				<li>
					<p>Hello, and thank you for visiting my site!  I am a passionate Javascript and Ruby coder looking for my first position as a developer.  I graduated from Dev Bootcamp SF at the end of May 2014, where I learned how to write good code, worked tons of hours programming on a team, and disciplined myself to have the mindset and capability to challenge myself and learn new things at blazing speeds.  Feel free to <a href='mailto:robertbenapfl@gmail.com'>email me</a> (robertbenapfl@gmail.com) If you are interested in adding me to a development team!</p>
				</li>
			</div>
			<div class='panel' id='projects' ng-show='panelSwitcher.checkSelected(3)'>
				<div class='project' id='imgur-timer'>
					<li>
						<h2>Imgur Timer!</h2>
						<p>Google Chrome Extension I coded that will clock only your time spent browsing Imgur. Because I need to query the active tab in the web browser to do this, the chrome store will prompt you that my extension can change and access all of your web data... Thanks for selling me out Google! (it can but it doesn't)  Users did not like that or the fact that the timer includes a start, stop, and reset feature despite the rest of it being automatic: changing or not changing the time when you enter and leave imgur on your active tab.  Oh well.  It still provided me with a couple challenges and a lot of fun while coding.  You can click the picture to be redirected to the extension's page in the chrome store. <a href='https://github.com/rbenapfl/Imgur-Timer' target='_blank'>View the Github Repo!</a></p>
						<p>
							<img class='icons' src='images/gce.jpg'>
							<img class='icons' src='images/js.png'>
							<img class='icons' src='images/css.png'>
							<img class='icons' src='images/html.png'>	
						</p>
					</li>
					<li>
						<a href='https://chrome.google.com/webstore/detail/imgur-timer/pocknnioahmfjbngbjaipciepgcamnko' target='_blank'><img class='largeImage clickable' id='imgurImg'  src='images/imgur.jpg'></a>
					</li>
				</div>
				<div class='project' id='portfolio'>
					<li><img class='largeImage' id='quicksortImg' src='images/quicksort.png'></li>
					<li>
						<h2>This Site!</h2>
						<p>This site features useful AngularJS functionality such as painless single page tab switching, and data binding and animations for that home page that you hopefully just watched.  It is a graphical step by step representation of the quicksort algorithm going to work.  Since that algorithm is normally recursive, my job to capture all of the recursive calls working at once was really difficult.  And no it does not have O(n log n) runtime itself or anything close.  I did choose the middle value unlike this picture to pivot on.  We all know why the picture is a problem right?
						 <a href='https://github.com/rbenapfl/Portfolio-Site' target='_blank'>View the Github Repo!</a>
						</p>
						<p>
							<img class='icons' src='images/angular.png'>
							<img class='icons' src='images/css.png'>
							<img class='icons' src='images/html.png'>
							<img class='icons' src='images/js.png'>
						</p>
					</li>
				</div> 
				<div class='project' id='sugarsnap'>
					<li>
						<h2>Sugarsnap!</h2>
						<p>The flagship final rails project that I coded with three other classmates during the final week and a half at Dev Bootcamp.  We created Sugarsnap, a photo sharing application that will provide users with all photos taken immediately after they are uploaded on the app in their immediate area (great for landmarks, family events, concerts, etc!).  We even finished early and used the Phonegap platform to make it an ios app as well.  Sugarsnap utilizies Amazon s3 and Firebase to make it's functionality possible in a sleek, intuitive, mobile-first design. You can click on the camera to check it out and/or <a href='https://github.com/rbenapfl/Sugarsnap' target='_blank'>View the Github Repo!</a>
						</p>
						<p>
							<img class='icons' src='images/firebase.png'>
							<img class='icons' src='images/sass.png'>
							<img class='icons' src='images/html.png'>
							<img class='icons' src='images/js.png'>
							<img class='icons' src='images/rails.png'>
							<img class='icons' src='images/s3.png'>
							<img class='icons' src='images/postgres.png'>
							<img class='icons' src='images/phonegap.png'>
						</p>
					</li>
					<li>
						<a href='http://sugarsnap.herokuapp.com/demo' target='_blank'><img class='largeImage clickable' id='sugarsnapIcon'  src='images/camera.png'></a>
					</li>
				</div>
				<div class='project' id='extension'>
					<li>
						<h2>Rose Colored Comments!</h2>
						<p>Quick and dirty Google Chrome extension I whipped up at a DBC hackathon with one other guy (talk about being a seasoned pair programmer).  We coded a Chrome extension that lets you view youtube comments in a window next to the video player without scrolling down as well as providing a word filtering feature to remove all comments that have a negative flavor.  Neither of us had knowledge about how to code a chrome extension beforehand yet we made one that interacts with the browser window as well as utilizing the Youtube API within a few hours!</p>
						<p>
							<img class='icons' src='images/gce.jpg'>
							<img class='icons' src='images/js.png'>
							<img class='icons' src='images/css.png'>
							<img class='icons' src='images/html.png'>	
						</p>	
					</li>
					<li><a href ='https://github.com/rbenapfl/RoseColoredComments/archive/master.zip'>
							<img class='largeImage clickable' id='youtubeImg' src='images/youtube.png'>
						</a>
					</li>
					<li><h2>Using this extension</h2><p>You can run this extension by simply clicking this youtube logo to download, unzipping, and going to your extensions in Chrome.  Enable Developer Mode, hit Load Unpacked Extension, and select the unzipped Source Folder.  The extension fires up on click so head over to your favorite youtube video and click the extension icon for some positive comment viewing (bonus points if you customize the word filter list to your liking in the JS file).  <a href='https://github.com/rbenapfl/RoseColoredComments' target='_blank'>View the Github Repo </a> for some pictures of it in action!</p>
				</div>
				<div class='project' id='desserts'>
					<li>
						<img class='largeImage' id='dessertImg' src='images/dessert.png'>
					</li>
					<li>
						<h2>Dessert Randomizer!</h2>
						<p>A fun little application I made while teaching myself how to use NodeJS with Express and MongoDB.  All it does it give you 25 thumbnails of random desserts every time you hit the button to get desserts.  Perfect for that one holiday coming up or a random sugar crave and you can't decide what to make!  You can click on the thumbnails for a larger image and link to the recipe page.  I used Yummily's API for the recipes, and it was terrible hence the link to the recipe page instead of cooking directions.  It had every ingredient needed and nutrition data after hitting the API but no directions...  Good to know for your nutrition application right?  <a href='https://github.com/rbenapfl/Dessert-Randomizer' target='_blank'>View the Github Repo! </a></p>
						<p>
							<img class='icons' src='images/node.png'>
							<img class='icons' src='images/mongo.png'>
							<img class='icons' id='jadeIcon' src='images/jade.png'>
							<img class='icons' src='images/css.png'>
						</p>
					</li>
				</div>
			</div>
			<div id='stickyFooter'></div>
		</div>
		<div id='footer'>
			<nav id='links'>
				<a href='https://github.com/rbenapfl' target='_blank'><img src='images/githubicon.jpg' height='56' width='56'></a>
				<a href='http://www.linkedin.com/in/robertbenapfl' target='_blank'><img src='images/linkedinicon.jpg' height='56' width='56'></a>
			</nav>
		</div>
	</body>
</html>